{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="{% url 'project_homepage' project_id=track.project.id %}"> {{ track.project.name }}</a>

<h3><a href="{% url 'audiotrack_homepage' audiotrack_id=track.id %}">{{ track.name }}</a></h3>

{% if annotation %}
<h3>Review this Annotation:</h3>
{% else %}
<h3>New Annotation:</h3>
{% endif %}

<div class="filename" style="display: none;">{{ track.file.name }}</div>
<div class="annotations" style="display: none;">{{ annotation.value }}</div>

<div class="container"></div>
<div class="annotation">
	<div id="plot-container"></div>
    <h5>File <span class="index"></span> of <span class="total-files"></span>: <span class="filename"></span></h5>
    <div class="labels"></div>
    <div class="audio_visual"></div>
</div>

<div class="play_bar"></div>
<div class="hidden_img"></div>
<div class="submit_container"></div>


{% endblock %}
