{% extends 'base.html' %}
{% load static %}

{% block title %}Annotation{% endblock %}

{% block content %}
<a class="btn btn-small waves-effect waves-light grey darken-3" href="{% url 'project_homepage' project_id=track.project.id %}">
  <i class="material-icons left">arrow_back</i>{{ track.project.name }}
</a>

{% if annotation.id is None %}
<h3>Annotate track:</h3>
{% elif request.user == annotation.user %}
<h3>Modify your annotation:</h3>
{% else %}
<h3>Review this Annotation:</h3>
{% endif %}

<div class="container"></div>
<div class="annotation">
	<div id="plot-container"></div>
	<h5>File</h5>
	<div class="preloader-wrapper big active loader">
		<div class="spinner-layer spinner-red-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
	<div class="labels"></div>
	<div class="audio_visual"></div>
</div>

<div class="play_bar"></div>
<div class="hidden_img"></div>
<div class="submit_container"></div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/wavesurfer.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wavesurfer.spectrogram.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/colormap/colormap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/src/message.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/wavesurfer.regions.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/wavesurfer.drawer.extended.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/wavesurfer.labels.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/hidden_image.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/components.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/annotation_stages.js' %}"></script>
<script type="text/javascript" src="{% static 'js/src/main.js' %}" defer></script>
<script src="https://cdn.jsdelivr.net/npm/web-streams-polyfill@2.0.2/dist/ponyfill.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/streamsaver@2.0.3/StreamSaver.min.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="{% static 'js/src/plot.js' %}"></script>

<script type="text/javascript">
  var submit_message;
  {% if annotation.id is None %}
    submit_message = "SUBMIT ANNOTATION";
  {% elif request.user == annotation.user %}
    submit_message = "SUBMIT MODIFICATIONS";
  {% else %}
    submit_message = "SUBMIT REVIEW";
  {% endif %}

	$('document').ready(function() {
		var track_name = "{{ track.name }}";
		var track_file = "{{ track.file.name}}";
		var annotations = '{{ annotation.value | safe }}';
		if (annotations) {
			annotations = JSON.parse(annotations);
		}
		var predictions = '{{ track.prediction | safe }}';
		if (predictions) {
			predictions = JSON.parse(predictions)
		}
		main(track_name, track_file, annotations, predictions);
	});
</script>
{% endblock %}
