{% extends 'base.html' %}

{% block title %}Annotations{% endblock %}

{% block content %}
<a class="btn btn-small waves-effect waves-light grey darken-4" href="{% url 'project_homepage' project_id=track.project.id %}">
  <i class="material-icons left">arrow_back</i>{{ track.project.name }}
</a>

<h3>{{ track.name }}</h3>

<a class="btn waves-effect waves-light grey darken-4" href="{% url 'annotate' audiotrack_id=track.id annotation_id=0 %}">
  New annotation
</a>

<p>Review existing annotations:</p>

<table class="table highlight">
  <thead>
    <tr>
      <th scope="col">Created By</th>
      <th scope="col">Reviewed</th>
      <th scope="col">Reviewed By</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for annotation in annotations reversed %}
    <tr>
      <td>{{ annotation.user }}</td>
      <td>{{ annotation.reviewed }}</td>
      <td>{{ annotation.reviewed_by }}</td>
      <td>
        <a class="btn grey darken-4 waves-effect waves-light" href="{% url 'annotate' audiotrack_id=annotation.track.id annotation_id=annotation.id %}">
          {% if request.user == annotation.user %}
            Modify
          {% else %}
            Review
          {% endif %}
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>

</table>

{% endblock %}
