{% extends 'base.html' %}

{% block title %}Annotations{% endblock %}

{% block content %}
<a href="{% url 'project_homepage' project_id=track.project.id %}"> {{ track.project.name }}</a>

<h3>Annotations for {{ track.name }}</h3>

<a href="{% url 'annotate' audiotrack_id=track.id annotation_id=0 %}">
  Load an empty annotation file
</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">User</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for annotation in annotations reversed %}
    <tr>
      <td><a href="{% url 'annotate' audiotrack_id=annotation.track.id annotation_id=annotation.id %}"> {{ annotation.user }}</a></td>
      <td>{{ annotation.date_time }}</td>
    </tr>

    {% endfor %}


  </tbody>

</table>

{% endblock %}
