{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<a class="btn green waves-effect waves-light" href="{% url 'upload_audio' project_id=project.id %}">Upload audio files</a>

<h3> Project {{ project.name }} </h3>
<table class="table highlight">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Duration</th>
      <th scope="col">Annotated by you</th>
      <th scope="col">Total annotations</th>
    </tr>
  </thead>
  <tbody>
    {% for track in tracks %}
    <tr>
      <td><a href="{% url 'audiotrack_homepage' audiotrack_id=track.id %}"> {{ track.name }}</a></td>
      <td>{{ track.duration|floatformat }}</td>
      <td>{{ track.user_annotation }}</td>
      <td>{{ track.annotation_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
