{% extends 'base.html' %}
{% load static %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<h3> Project {{ project.name }} </h3>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}"
 href="{% url 'upload_audio' project_id=project.id %}">Upload audio files</a>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}" href="{% url 'upload_pred' project_id=project.id %}">Upload predictions</a>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}" href="{% url 'upload_annotations' project_id=project.id %}">Upload annotations</a>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}" href="{% url 'download_project' project_id=project.id %}">Download annotations</a>

<div class="table-responsive">
  <table class="table highlight">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Bird sounds</th>
        <th scope="col">Annotated</th>
        <th scope="col">Reviewed</th>
        <th scope="col">Annotated by you</th>
        <th scope="col">Prediction available</th>
      </tr>
    </thead>
    <tbody>
      {% for track in tracks %}
      <tr>
        <td><a href="{% url 'audiotrack_homepage' audiotrack_id=track.id %}"> {{ track.name }}</a></td>
        {% if track.bird_calls %}
        <td>{{ track.labelized_bird_calls }} / {{ track.bird_calls }}</td>
        {% else %}
        <td></td>
        {% endif %}
        <td>
          {% if track.annotation %}
            <i class="fas fa-check" style="color:#00E64E"></i>
          {% else %}
            <i class="fas fa-times" style="color:#F57F53"></i>
          {% endif %}
        </td>
        <td>
          {% if track.reviewed %}
            <i class="fas fa-check" style="color:#00E64E"></i>
          {% else %}
            <i class="fas fa-times" style="color:#F57F53"></i>
          {% endif %}
        </td>
        <td>{{ track.user_annotation }}</td>
        <td>{% if track.prediction %}Yes{% else %}No{% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
