{% extends 'base.html' %}

{% block title %}{{ project.name }}{% endblock %}

{% block content %}
<h3> Project {{ project.name }} </h3>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}"
 href="{% url 'upload_audio' project_id=project.id %}">Upload audio files</a>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}" href="{% url 'upload_pred' project_id=project.id %}">Upload predictions</a>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}" href="{% url 'upload_annotations' project_id=project.id %}">Upload annotations</a>
<a class="btn grey darken-3 waves-effect waves-light {% if not request.user.is_staff %}disabled{% endif %}" href="{% url 'download_project' project_id=project.id %}">Download annotations</a>

<table class="table highlight">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Annotated by</th>
      <th scope="col">Prediction available</th>
      <th scope="col">Total annotations</th>
    </tr>
  </thead>
  <tbody>
    {% for track in tracks %}
    <tr>
      <td><a href="{% url 'audiotrack_homepage' audiotrack_id=track.id %}"> {{ track.name }}</a></td>
      <td>{{ track.user }}</td>
      <td>{% if track.prediction %}Yes{% else %}No{% endif %}</td>
      <td>{{ track.annotation_count }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
